<div class="form-container">
    <div class="form-title">
        <h2 id="registration">Signup Form</h2>
        <h6 id="registerLink" class="link-success"> Have an account ? <a routerLink="/login" class="link-danger">Login Now</a></h6>
    </div>

    <div class="form-body">
        <hr>
        <form class="row g-3 needs-validation" [formGroup]="RegisterUser_RF" (ngSubmit)="onRegisterFormSubmit()" >
            <div class="form-floating col-md-12">
                <input type="text" class="form-control" formControlName="userName" id="fnamee" placeholder="e.g umer">
                <label for="fnamee">Username</label>
                <small *ngIf="RegisterUser_RF.get('userName').hasError('required') && RegisterUser_RF.get('userName').touched">*This Field is Required</small>
                <small *ngIf="RegisterUser_RF.get('userName').hasError('numericNotAllowed')">*No Numeric Allowed</small>
                <small *ngIf="RegisterUser_RF.get('userName').hasError('maxlength')">*Maximum 30 Letters Allowed</small>
            </div>
        
            <div class="form-floating col-md-12">
                <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com">
                <label for="email">Email address</label>
                <small *ngIf="RegisterUser_RF.get('email').hasError('required') && RegisterUser_RF.get('email').touched">*This Field is Required</small>
                <small *ngIf="RegisterUser_RF.get('email').hasError('pattern')">*Enter Valid Email Address</small>
                <small *ngIf="RegisterUser_RF.get('email').hasError('noSpaceAllowed')">*No Space Allowed</small>

            </div>
            <div class="form-floating col-md-12">
                <input type="password" class="form-control" formControlName="password" id="pass" placeholder="Password">
                <label for="pass">Password</label>
                <small *ngIf="RegisterUser_RF.get('password').hasError('required') && RegisterUser_RF.get('password').touched">*This Field is Required</small>
                <small *ngIf="RegisterUser_RF.get('password').hasError('minlength')">*Enter Minimum 4 Letters</small>
                <small *ngIf="RegisterUser_RF.get('password').hasError('maxlength')">*Enter Maximum 15 Leters</small>

            </div>
            <div class="form-floating col-md-12">
                <input type="password" class="form-control" formControlName="cPassword" id="cpass" placeholder="Re-enter Password">
                <label for="cpass">Confirm Password</label>
                <small *ngIf="RegisterUser_RF.get('cPassword').hasError('required') && RegisterUser_RF.get('cPassword').touched">*This Field is Required</small>
                <small *ngIf="RegisterUser_RF.get('cPassword').hasError('minlength')">*Enter Minimum 4 Letters</small>
                <small *ngIf="RegisterUser_RF.get('cPassword').hasError('maxlength')">*Enter Maximum 15 Leters</small>
                <!-- <small *ngIf="RegisterUser_RF.get('cPassword').hasError('passwordMatchValidator')">*Enter Maximum 15 Leters</small> -->


            </div>
            <div class="col-md-6">
                <label class="form-label">Role</label>
                <select class="form-select" formControlName="role" id="validationCustom10" name="Student" >
                    <option>Admin</option>
                    <option>Student</option>
                </select>
                <small *ngIf="RegisterUser_RF.get('role').hasError('required') && RegisterUser_RF.get('role').touched">*This Field is Required</small>
            </div>
            <hr>

            <div class="checkouts">
                <button class="btn btn-success" type="submit" value="Submit" [disabled]="RegisterUser_RF.invalid" style="margin-top: 20px;">Register</button>
        </div>
        </form>
        </div>

</div>