<div class="forgot-pass-page">
    <div class="forgot-pass-body">
        <div class="form-title">
            <h2>Set New Password</h2>
            <!-- <h6 id="registerLink" class="link-success">Or Goto <a routerLink="/home" class="link-danger">Home</a></h6> -->
        </div>
        <hr>
        <form class="row g-3 needs-validation" [formGroup]="NewPassword_RF" (ngSubmit)="newPasswordFormSubmit()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" formControlName="newPassword" placeholder="">
                <label for="floatingInput">Enter New Password</label>
                <small *ngIf="NewPassword_RF.get('newPassword').errors?.['required'] && NewPassword_RF.get('newPassword').touched">*This Field is Required to Set New Password</small>
                <small *ngIf="NewPassword_RF.get('newPassword').hasError('minlength')">*Enter Minimum 4 Letters</small>
                <small *ngIf="NewPassword_RF.get('newPassword').hasError('maxlength')">*Enter Maximum 30 Leters</small>

            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" formControlName="confirmPassword"
                    placeholder="">
                <label for="floatingInput">Confirm New Password</label>
                <small
                    *ngIf="NewPassword_RF.get('confirmPassword').errors?.['required'] && NewPassword_RF.get('confirmPassword').touched">*This Field is Required to Set New Password</small>
                <small *ngIf="NewPassword_RF.get('confirmPassword').hasError('minlength')">*Enter Minimum 4
                    Letters</small>
                <small *ngIf="NewPassword_RF.get('confirmPassword').hasError('maxlength')">*Enter Maximum 30
                    Leters</small>

            </div>
            <hr>
            <button class="btn btn-success" type="submit" [disabled]="NewPassword_RF.invalid"
                style="margin-top: 20px;">Set Password</button>
        </form>
    </div>
</div>