.admin-page-container{
    height: 100vh;
    width: 90%;
    background-color: rgb(255, 251, 251);
    margin: 20px auto;
    border-radius: 5%;
}
button[type=action-button]{
    /* color: orange; */
    margin: 2px;
    width: 6vw;
    height: 6vh;
    overflow: hidden;
  
}
th{
    text-align: center;
    background-color: rgb(244, 248, 248); 
}
tr{
    background-color: aqua;
    vertical-align: middle;
}
td{
    background-color: rgb(244, 248, 248);
}