<div class="navbar-container">
    <div class="logo">
        <div id="img">
            <img src="/assets/handbag-fill.png" alt="" srcset="">
        </div>
    </div>
    <div class="menues">
        <a class="menu" routerLink="/">Home</a>
        <a class="menu" routerLink="courseregister">Registration</a>
        <a class="menu" routerLink="login">Login</a>
        <a class="menu" routerLink="register">SignUp</a>
        <a class="menu" routerLink="admin">Admin</a>
        <a class="menu" routerLink="contact">Contact-us</a>

    </div>
    <div class="links"></div>
</div>