<div class="home-title">
    <!-- <h2>{{userRole}} Dashboard</h2> -->
</div>
<div class="section-title">
    <h4>Personal Details</h4>
</div>

<div class="student-info" >
    <div class="pic-Role col-md-3" >
        <div class="user-pic">
            <img src="" alt="" srcset="">
        </div>
        <div class="user-role">
            <h4>Role: {{ loggedInUserDetails.role}}</h4>
        </div>
    </div>
    <div class="personal-details col-md-6">
        <div class="user-info">
            <!-- Display other user details in a similar way -->
            <h6>Name: {{ loggedInUserDetails.username }}</h6>
        </div>
        <div class="user-info">
            <h6>Email: {{ loggedInUserDetails.email }}</h6>
        </div>
    </div>
</div>
