<div class="admin-page-container">
  <!-- <div class="custom-filters">
    
  </div>  -->
<div class="admin-action-area">
    <table id="table-container" class="table">
      <thead>
        <tr id="table-data">
          <th scope="col">Registration #</th>
          <th scope="col">Student Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>

        </tr>
        
      </thead>
      <tr id="table-data">
        <th scope="col">Filter</th>
        <th scope="col">Filter</th>
        <th scope="col">Filter</th>
        <th scope="col">
          <select class="form-select" id="validationCustom09" [(ngModel)]="selectedSection" (change)="onSectionChange($event)">
            <option value="" disabled selected>Select a section</option>
            <option value="All">All</option>
            <option value="admin">admin</option>
            <option value="student">student</option>
          </select>
        <!-- <small *ngIf="RegisterCourse_RF.get('section').hasError('required') && RegisterCourse_RF.get('section').touched">*This Field is Required</small> -->


        </th>
        <th scope="col">Filter</th>
      

      </tr>
      <tbody class="table-group-divider">
        <tr id="table-data" *ngFor="let item of allStudents">
          <!-- <th scope="row">1</th> -->
          <td>{{item._id}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
          <td>{{item.role}}</td>

          <td style="padding: 10px;margin-left: 10px;">

            <!-- <button class="btn btn-primary" type="button" routerLink="/assigntask">Task</button> -->

            <button class="btn btn-primary" type="button" routerLink="/register">Edit</button>
            <button class="btn btn-danger" type="button" (click)="onDelete(item._id)">Delete</button>

          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>