.forgot-pass-page{
    width: 35vw;
    position: relative;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    /* background-color: rgb(255, 251, 251); */
    background-color: rgb(244, 248, 248);

}
.forgot-pass-body{
    width: auto;
    height: auto;
    padding: 30px;
    /* margin-bottom: 50px; */
    /* border: 2px solid black; */
 
}
.form-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#registerLink{
    margin-top: 15px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
small{
    color: red;
}
input[type='text'].ng-invalid.ng-touched{
    border: 1px solid red;
}