<div class="admin-page-container">
<div class="admin-action-area">
    <table id="table-container" class="table">
      <thead>
        <tr id="table-data">
          <th scope="col">Registration #</th>
          <th scope="col">Student Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>

        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr id="table-data" *ngFor="let item of allStudents">
          <!-- <th scope="row">1</th> -->
          <td>{{item._id}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
          <td>{{item.role}}</td>

          <td style="padding: 10px;margin-left: 10px;">

            <!-- <button class="btn btn-primary" type="button" routerLink="/assigntask">Task</button> -->

            <button class="btn btn-primary" type="button" routerLink="/register">Edit</button>
            <button class="btn btn-danger" type="button" (click)="onDelete(item._id)">Delete</button>

          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>