<div class="form-container">
    <div class="form-body">
        <div class="form-title">
            <h2 id="registration">Course Registration</h2>
        </div>
        <hr>
        <form class="row g-3 needs-validation" [formGroup]="RegisterCourse_RF"  (ngSubmit)="onCourseDetailsSubmit()">
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Course Id</label>
                <select class="form-select" id="validationCustom09" formControlName="courseId" name="Section" [(ngModel)]="Courseregistration.courseId">
                    <option>DIP-123</option>
                    <option>AI-456</option>
                    <option>QP-789</option>
                    <option>EP-101</option>
                </select>
                <small *ngIf="RegisterCourse_RF.get('courseId').hasError('required') && RegisterCourse_RF.get('courseId').touched">*This Field is Required</small>

            </div>

            <div class="col-md-4">
                <label for="cname" class="form-label">Course Name</label>
                <!-- <input type="text" class="form-control" formControlName="CourseName" id="cname" placeholder="e.g umer" [(ngModel)]="Courseregistration.courseName" >
                <small *ngIf="RegisterCourse_RF.get('CourseName').hasError('required') && RegisterCourse_RF.get('CourseName').touched">*This Field is Required</small>
                <small *ngIf="RegisterCourse_RF.get('CourseName').hasError('numericNotAllowed')">*No Numeric Allowed</small>
                <small *ngIf="RegisterCourse_RF.get('CourseName').hasError('maxlength')">*Maximum 50 Letters Allowed</small> -->
                <select class="form-select" id="validationCustom09" formControlName="CourseName" [(ngModel)]="Courseregistration.courseName">
                    <option>Digital Image Processing</option>
                    <option>Artificial Intelligence</option>
                    <option>Quantum Physics</option>
                    <option>Engineering Professionalism</option>
                </select>
                <small *ngIf="RegisterCourse_RF.get('CourseName').hasError('required') && RegisterCourse_RF.get('CourseName').touched">*This Field is Required</small>

            </div>
            

            <div class="col-md-4">
                <label for="chour" class="form-label">Credit Hours</label>
                <input type="text" class="form-control" formControlName="CreditHour" id="chour" placeholder="e.g 3" [(ngModel)]="Courseregistration.creditHours" >
                <small *ngIf="RegisterCourse_RF.get('CreditHour').hasError('required') && RegisterCourse_RF.get('CreditHour').touched">*This Field is Required</small>
                <small *ngIf="RegisterCourse_RF.get('CreditHour').hasError('noSpaceAllowed')">*No Space Allowed</small>
                <small *ngIf="RegisterCourse_RF.get('CreditHour').hasError('noAlphabetsAllowed')">*No Alphabets Allowed</small>
                <small *ngIf="RegisterCourse_RF.get('CreditHour').hasError('maxlength')">*Enter between 1-9, One Decimal Letter</small>
                <small *ngIf="RegisterCourse_RF.get('CreditHour').hasError('lessThanOneNotAllowed')">*Enter Greater Than 1</small>
            </div>

            <div class="col-md-3">
                <label for="validationCustom09" class="form-label">Section</label>
                <select class="form-select" id="validationCustom09" formControlName="section" [(ngModel)]="Courseregistration.section">
                    <option>Section A</option>
                    <option>Section B</option>
                    <option>Section C</option>
                    <option> Section D</option>
                </select>
                <small *ngIf="RegisterCourse_RF.get('section').hasError('required') && RegisterCourse_RF.get('section').touched">*This Field is Required</small>
            </div>

            <hr>

            <div class="col-md-12" style="display: flex;justify-content: right;">
                <button class="btn btn-danger" [hidden]="!RegisterCourse_RF.touched" (click)="clearForm()" style="margin-top: 20px;margin-right: 20px;"> Reset</button>
                <button class="btn btn-primary" type="submit" value="Submit" [disabled]="RegisterCourse_RF.invalid" style="margin-top: 20px;">Submit</button>
            </div>

</form>

</div>

</div>