<div class="forgot-pass-page">
    <div class="forgot-pass-body">
        <div class="form-title">
            <h2 >Password Reset Page</h2>
            <h6 id="registerLink" class="link-success">Or Goto <a routerLink="/newpassword" class="link-danger">New Password</a></h6>
        </div>
        <hr>
        <form class="row g-3 needs-validation" [formGroup]="forgotPassword_RF" (ngSubmit)="forgotPasswordFormSubmit()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="name@example.com">
                <label for="floatingInput">Email Your Email</label>
            <small *ngIf="forgotPassword_RF.get('email').errors?.['required'] && forgotPassword_RF.get('email').touched">*This Field is Required to Reset Password</small>
            <small *ngIf="forgotPassword_RF.get('email').errors?.['noSpaceAllowed']">*No Space Allowed</small>
            <small *ngIf="forgotPassword_RF.get('email').hasError('pattern')">*Invalid Email Format</small>
        </div>
        <hr>
        <button class="btn btn-success" type="submit" [disabled]="forgotPassword_RF.invalid"  style="margin-top: 20px;">Send Email</button>
    </form>
    </div>
</div>
   
