<div class="home-container">
    <div class="greetings" [hidden]="notification_greetings">
        Welcome to {{userRole}} Portal <span class="cancel" (click)="closeGreetings()">X</span>
    </div>
    <div class="home-title">
        <h2>Student Dashboard</h2>
    </div>
    <div class="section-title">
        <h4>Personal Details</h4>
    </div>

    <div class="student-info">
        <div class="pic-Role col-md-3">
            <div class="user-pic">
                <img src="" alt="" srcset="">
            </div>
            <div class="user-role">
                <h4>{{userRole}}</h4>
            </div>
        </div>
        <div class="personal-details col-md-6">
            <div class="user-info">
                <h6>Role : {{userRole}}</h6>
            </div>
            <div class="user-info">
                <h6>Name : {{username}}</h6>
            </div>
            <div class="user-info">
                <h6>Email : {{userEmail}}</h6>
            </div>
        
        </div>
      
    </div>


    <div class="section-title">
        <h4>Course Details</h4>
    </div>
    <div class="courses-info">
        <div class="course-body">
           <div id="course-id" class="col-md-2 course-div">Course Id</div>
           <div id="course-name" class="col-md-8 course-div"> Course Name</div>
           <div id="course-status" class="col-md-2 course-div">Course Status</div>
        </div>
    </div>

    <div class="section-title">
        <h4>Tasks Section</h4>
    </div>
    <div class="courses-info">
        <div class="course-body">
           <div id="course-id" class="col-md-12 course-div"> {{taskAssigned}}</div>
                   </div>
    </div>


</div>